.sidebar {
  width: 100vw;
  height: 100vh;
  background-color: #e8175d;
  z-index: 1;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
@media (width>576px) {
  .sidebar {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (width<576px) {
  .sidebar {
    position: fixed;
    height: 100px;
    margin-right: 0;
    animation: nav 0.5s ease-in-out;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  @keyframes nav {
    from {
      top: -100px;
    }
    to {
      top: 0;
    }
  }
}

.logo {
  width: 100px;
}
.logo img {
  margin-bottom: -35px;
}
@media (width>576px) {
  .logo {
    width: 150px;
  }
}
.logoutSm {
  cursor: pointer;
  border: none;
  color: #ffffff;
  background: none;
}

.logoutSm:hover {
  transform: scale(1.01);
  color: #edf1f3;
  text-decoration: underline;
}
