.searchButton {
  border: 0;
  background-color: white;
  color: #344e5c;
}
.searchButton :hover {
  transform: scale(1.1);
  color: #445f6d;
}

.toggleButton {
  background-color: #e8175d !important;
}

#dropdown-menuSearch {
  background-color: #344e5c !important ;
  background: url("../assets/background.webp") #f2edf3;
  background-size: cover;
  background-blend-mode: color-burn;
}

@media (width>=576px) {
  .searchBar {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.34);
  }
  .searchBar input {
    border-radius: 10px;
  }
  .toggleButton {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  #dropdown-menuSearch {
    position: absolute !important;
    z-index: 9999 !important;
  }
}
